*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 200px;
}
input{
    margin-top: 30px;
    width: 400px;
    border-radius: 5px;
    height: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
button{
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background-color: gray;
    font-size: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}